@import "tailwindcss";

body {
  font-family: system-ui, sans-serif;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
  scrollbar-width: none;
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}
