# Python cache files
server/__pycache__/
server/utils/__pycache__/

# Python virtual environment
server/venv/

# Environment variables
server/.env
client/.env

# Compiled bytecode
*.pyc
*.pyo

# Ignore init files if you don't need them
server/__init__.py
server/utils/__init__.py

# Custom folders
server/manual_text/

# Node modules if any
client/node_modules/

# OS junk files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite client-specific
client/node_modules
client/dist